*{
    caret-color: lightgreen;
}
body{
    background-color: #e8f1f5;
}
h1{
    font-size: 9vh;
    margin: 1vh auto 1vh auto;
    color: #004a7c;
}

header{
    text-align: center;
}

div.editor-toolbar{
    opacity: none;
    background-color: #fafafa;
    caret-color: white;
}

/* #textarea{
    background-color: black;
} */

/* div.codeMirror {
    background-color: black;
} */

.CodeMirror{
    background-color: #fafafa;
    color: lightgreen;
    caret-color: white;
    height: 75vh;
    overflow: hidden;
}
.CodeMirror-line{
    caret-color: white;
}

.CodeMirror-code{
    caret-color: white;
}